body {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.top-img{  
  width:380px;
  display:block;
  float:right;
  text-align:center;
  font-size: 5px;
  font-style: italic;
}
#logo {
  width:400px; 
  height:150px;
}
  
.title {
  text-align: right;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Comic Sans MS";
  font-size: 60px;
  margin-right: 10pc;
}
