body {
  background-image: url("bgs/amongussexbg.png");
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

 /* Style the navigation bar */
.navbar {
  width: 115.5%;
  background-image: url("");
  background-size: 50px;
  overflow: auto;
  margin-left:-13%;
  margin-right: auto;
  padding-left: 10%;
  margin-top: -0.6%;
}

.navimg {
  height:15px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #c4f00f;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #a04dfd;
}



.testdiv {
	background-color: #ffffff;
}

.logo {
  background-size: 50px;
  overflow: auto;
  margin-left:0%;
  margin-right: auto;
  padding-left: 0%;
  margin-top: -0.6%;
  display: block;
  width:320px;
}




.navwrapper {
	background-color: #ffffff;
	margin: auto;
	width: 100%;
}

.col-navbar {
	grid-column: span 3;
	background-color: red;
}

.col-right {
	float: right;
	width: 70%;
	background-color: pink;
}

.col-left {
	float: left;
	width: 30%;
	background-color: pink;

	
}
.col-padding {
	background-color: white;
	padding:10px;
	margin:4px;

}


.main-container {
	background-color: cyan;
	min-height: 100%;
	width:80%;
	position: absolute;
	
}