body {
  background-image: url("bgs/bears.png");
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

 /* Style the navigation bar */
.navbar {
  width: 115.5%;
  background-image: url("");
  background-size: 50px;
  overflow: auto;
  margin-left:-13%;
  margin-right: auto;
  padding-left: 10%;
  margin-top: -0.6%;
}

.navimg {
  height:15px;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #c4f00f;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #a04dfd;
}



.testdiv {
	background-color: #ffffff;
}

.logo {
  background-size: 50px;
  overflow: auto;
  margin-left:0%;
  margin-right: auto;
  padding-left: 0%;
  margin-top: -0.6%;
  display: block;
  width:320px;
}




.navwrapper {
	margin: auto;
	width: 100%;
}

.col-navbar {
	grid-column: span 3;

}

.col-right {
	float: right;
	width: 70%;


}

.col-left {
	float: left;
	width: 30%;


	
}
.col-border1 {


	border:16px solid black;
	border-image:url(bgs/border1.png) 40% round;
	margin:4px;

}

.col-inner1 {
	background-color: #dffcff;
	padding:10px;

}

.col-border2 {


	border:16px solid black;
	border-image:url(bgs/border3.png) 40% round;
	margin:4px;

}

.col-inner2 {
	background-color: #f3f6f7;
	padding:10px;

}

.main-container {

	min-height: 100%;
	width:80%;
	position: absolute;
	margin:auto;
	left:calc(10% - 0px);
	
	
}
.skin-wrapper {
	background-image: url("bgs/bears.png");

	width:100%;
	position: fixed;
	left:0px;
	bottom:0px;
	height:100%;
	z-index:-1;
	
}



.skin-gradient {
	background-image: linear-gradient(rgba(255,0,0,0), rgba(255,255,255,1));

	width:100%;
	position: fixed;
	bottom:0px;
	height:255px;
}

.top-border {

	border:16px solid black;
	border-image:url(bgs/border4.png) 40% round;
	margin:4px;
	border-image-repeat: round;
	margin-left:-26px;
	width: calc(100% + 20px);
	margin-top:-26px;
	text-align: center;


}

.top-inner {
	background-color: #fbfaff;
	padding:1px;
}


.window-container {
	position:relative;
}

.window-contents {
	position: absolute;
   top: 20px;
   left: 20px; 
    
   padding: 5px;

}

.innernavbarwrapper {
	width:100%;
	text-align: center;
	
	
}

.innernavbar {
	margin-right: auto;
	margin-left: auto;
	width:80%;
	display: block;
}